<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro VIP</title>
</head>
<body>
    <h1>Cadastro VIP</h1>
    <p>
        Além de receber informações de jogos em tempo real, temos dicas para melhor jogada, vídeos exclusivos com jogadores.
    </p>
    <form action="cadastrovip" method="POST">
        <label>Email:</label>
        <input type="email" name="email"/><br><br>
        <label>Senha:</label>
        <input type="password" name="senha"/><br><br>
        <input type="submit" value="Entrar"/>
    </form>
</body>
</html>