<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title class="centro">Campeonato de Basquete</title>
    <link rel="stylesheet" type="text/css" href="static/fundo.css">
    <style>

  
  #content {
    background: #e7eef5;
    height:220px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items:baseline;
  }
  .item {
    height: 160px;
    color: black;
    box-sizing: border-box;
    padding: 9px;
    padding-left: -5em;
    -webkit-box-shadow: 0px -6px 8px -1px rgba(0,0,0,0.24);
    background: white;
    margin: 30px
  }
</style>
</head>
<body>
    <div class="bordas">
        <h1 class="centro">Campeonato de Basquete</h1>
        <h3 class="centro"> <a href="equipes"> Ver Equipes</h3></a>
        <h3 class="centro"> <a href="cadastrartime"> Cadastrar Times</h3></a>
        <h3 class="centro"> <a href="cadastrosms"> Cadastrar SMS</h3></a>
        <h3 class="centro"> <a href="cadastroplacar"> Cadastrar Placar</h3></a>
        <h3 class="centro"> <a href="cadastrovip"> Cadastrar-se como VIP</h3></a>
    </div>

        <form action="https://www.google.com/search?q=" method="GET">
            <input type="text" name="q" id="q"/>
            <input type="submit" name="botao" value="buscar"/>
            

        </form>
        <table border = 2 "color: #000000;">
            <tr class="centro">
                <td><h3><a href= "bauru"> BAURU </a></h3></td>
                <td><h3> 79  x 81 </h3></td>
                <td><h3><a href= "sesi"> SESI FRANCANA</a><h3></td>
            </tr>
            <tr>
                <td><h3><a href= "brasilia"> BRASÍLIA </a></h3></td> 
                <td><h3> 71 x 106 </td>
                <td><h3><a href= "pinheiros"> PINHEIROS</a></h3></td>
            <tr>
                <td><h3><a href= "caxias"> CAXIAS DO SUL </a></h3></td>
                <td><h3> 70 x 80 </h3></td>
                <td><h3><a href= "mogi"> MOGI </a></h3></td>
            <tr>
                <td><h3><a href= "cerrado"> CERRADO BASQUETE </a></h3></td>
                <td><h3> 71 x 99 </h3></td>
                <td><h3><a href= "unifacisa"> UNIFACISA </a></h3></td>
            <tr>
                <td><h3><a href= "corinthians"> CORINTHIANS </a></h3></td>
                <td><h3> 70 x 77 </h3> </td>
                <td><h3><a href= "minas"> MINAS </a></h3></td>
            <tr>
                <td><h3><a href= "fortaleza">FORTALEZA B. C. </a></h3></td>
                <td><h3> 99 x 95 </h3></td>
                <td><h3><a href= "paulistano"> PAULISTANO </a></h3></td>
            <tr>
                <td><h3><a href= "pato"> PATO BASQUETE </a></h3></td>
                <td><h3> 83 x 87 </h3></td>
                <td><h3><a href= "pinheiros"> PINHEIROS </a></h3></td>
            <tr>
                <td><h3><a href= "paulistano"> PAULISTANO </a></h3></td>
                <td><h3> 90 x 101 </h3></td>
                <td><h3><a href= "unifacisa"> UNIFACISA </a></h3></td>
            <tr>
                <td><h3><a href= "sao_paulo"> SÃO PAULO </a></h3></td>
                <td><h3> 106 x 103 </h3></td>
                <td><h3><a href= "unifacisa"> UNIFACISA </a></h3></td>
            <tr>
                <td><h3><a href= "sao_paulo"> SÃO PAULO  </a></h3></td>
                <td><h3> 90 x 79 </h3></td>
                <td><h3><a href= "mourao"> CAMPO MOURÃO </a></h3></td>
        </table>
        <h2>Outras matérias:</h2>
        <section id = 'content'>
            <article class= 'item'> <img src="static/3.jpeg" width="68%"/> </br><a href='https://br.pinterest.com/Cleids2/gatinhos-fofos/'>Veja gatinhos </a> </article>
            <article class= 'item'> <img src="static/4.jpeg" width='60%'/> </br> <a href= 'http://www.espn.com.br/blogs/nbanaespn/576850_espn-faz-lista-com-os-100-maiores-jogadores-da-historia-opine-discorde-e-divirta-se'> Melhores jogadores de basquete</a>  </article>
            <article class= 'item'> <img src="static/2.jpeg" width = '43%'/> </br> <a href = 'https://globoesporte.globo.com/basquete/copa-do-mundo-de-basquete-masculino/'> Copa mundial de basquete </a>  </article>
            <article class= 'item'> <img src="static/1.jpeg" width = '65%'/> </br><a href ='http://www.espn.com.br/blogs/nbanaespn/696222_top-10-os-lances-mais-marcantes-da-historia-das-finais-de-conferencia-da-nba'> Top 10 lances </article>
</body>
</html>